<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <link rel="shortcut icon" href="./img/ic_launcher/res/mipmap-hdpi/ic_launcher.png" />
    <title>Backend panel</title>

    <link rel="stylesheet" href="./vendors/w3.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/tetris.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-4 col-sm-offset-4" style="margin-top: 30px;">

            <center>
                <img src="./img/ic_launcher/res/mipmap-hdpi/ic_launcher.png">
                <span style="font-size:24px;">Backend Portal</span>
            </center>
            <form action="/action_page.php" style="margin: 40px;">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="uername" class="form-control" id="username" placeholder="Enter username" name="username">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
    </div>
</div>
<div class='tetris'>
    <div class='block1'></div>
    <div class='block2'></div>
    <div class='block3'></div>
    <div class='block4'></div>
</div>
</body>
</html>


